<div *ngIf="mathites.length && mathites;else MITSOS">
    <table class="table table-dark table-hover table-border">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let stu of mathites">
                <td>{{stu.id}}</td>
                <td>{{stu.name}}</td>
                <td>{{stu.score}}</td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #MITSOS>
    <div class="p-4">
        No more students
    </div>
</ng-template>