<div class="container">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark"> 
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/Movies']">Movies</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link"[routerLink]="['/Students']">Students</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" [routerLink]="['/Trainers']">Trainers</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" [routerLink]="['/Products']">Products</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" [routerLink]="['/Employees']">Employees</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" [routerLink]="['/Nobel']">Nobel Prizes</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" [routerLink]="['/Github']">Github</a>
            </li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
</div>



































<!-- <div class="container-fluid">
    <div class="row">
        <div class="col">
            <app-student></app-student>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col">
            <app-trainer></app-trainer>
        </div>
        <div class="col">
            <app-trainer></app-trainer>
        </div>

    </div>
</div> -->



